.slider{
    position: relative;
}

.swiper-button-next, .swiper-rtl .swiper-button-prev{
    top: 0 !important;
    bottom: -540px !important;
    left: 60px !important;
    right: 0 !important;
    margin: auto !important;
}

.swiper-button-prev, .swiper-rtl .swiper-button-next{
    top: 0 !important;
    bottom: -540px !important;
    left: 0 !important;
    right: 60px !important;
    margin: auto !important;
}

.swiper-button-next:after, .swiper-button-prev:after{
    color: var(--green-light);
    font-weight: 700 !important;
    transition: color 0.4s;
    font-size: 30px !important;
}

.swiper-button-next:hover:after, .swiper-button-prev:hover:after{
    color: var(--red);
}


@media(max-width: 1189px){
    .swiper{
        width: 815px;
    }
}

@media(max-width: 814px){
    .swiper{
        width: 530px;
    }
}

@media(max-width: 529px){
    .swiper{
        width: 250px;
    }
}